@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@300');

/* Theme Colors  */
:root, :after, :before {
  /* 
    Set the project colors.
    If you don't have secondary or tertiary colors, just repeat the previous one. 
    Example: If Primary is a RED, and you won't use Secondary and Tertiary, 
    just repeat the RED hsl values to the secondary and tertiary variables, 
    so the system will generate the same values for the three colors. 
  */

  --base-h: 217;
  --base-s: 81%;
  --base-l: 17%;

  --primary-h: 217;
  --primary-s: 81%;
  --primary-l: 17%;
  
  --accent-h: 340;
  --accent-s: 84%;
  --accent-l: 52%;

  /* --secondary-h: 126; */
  /* --secondary-s: 15%; */
  /* --secondary-l: 72%; */
  
  /* --tertiary-h: 330; */
  /* --tertiary-s: 28%; */
  /* --tertiary-l: 65%; */

  /* Feedback colors */
  /* These colors are for feedback. Success, Fail, Warning, Attention.  */
  /* --red-h: 347; */
  /* --red-s: 58%; */
  /* --red-l: 46%; */

  /* --green-h: 174; */
  /* --green-s: 62%; */
  /* --green-l: 47%; */
  
  /* --yellow-h: 37; */
  /* --yellow-s: 98%; */
  /* --yellow-l: 53%; */

  /* In most cases, you will not need to change these. */
  /* --white-h: 0;   */
  /* --white-s: 0%;   */
  /* --white-l: 100%;   */
  
  /* --black-hsl: 0;   */
  /* --black-hsl: 0%;   */
  /* --black-hsl: 5%; */
}


:root, :after, :before {
  /* 
    This is the base styling of the system. Borders, spacings, rounded corners, etc. 
    The variables are fairly descriptive. 
  */

  /* Base Borders */
  /* --base-border-width: 2px; */
  /* --base-border-style: solid; */
  /* --base-border: var(--base-border-width) var(--base-border-style) hsla(var(--base-hsl), .1); */

  /* Base Spacing */ 
  --base-gap: var(--s3);
  
  /* ToDo: I'm not sure this is a good thing. 
     base-padding is not equal to base-padding-inline and block */
  /* --base-padding: var(--s0);  */
  /* --base-padding-inline: var(--s0); */
  /* --base-padding-block: var(--s-1); */

  /* Decorations */
  /* --base-border-radius: 8px; */
  
  /* --box-shadow-offset-x: 0; */
  /* --box-shadow-offset-y: 0; */
  /* --box-shadow-blur-radius: 0; */
  /* --box-shadow-spread-radius: 0; */
  /* --box-shadow-color: transparent; */

  /* --base-shadow: 0; */
}

/* Wrappers */
:root, :after, :before {
  /* --measure: 80ch; */
  /* --narrow: 700px; */
  /* --regular: 992px; */
  /* --wide: 1280px; */
  /* --wrapper: 1280px; */
  /* --scroll-height: 0; /* Accepts a string in VH ex: "70vh" */
}
